<div class="p-4">
    <div class="container">
        <h1>Hi {{user.firstName}}  {{user.lastName}}!</h1>
        <p>Welcome to Your DashBoard!</p>
        <p>Your are a: {{user.profession}}</p>
        <p>Country: {{user.country}}</p>
        <p>State: {{user.state}}</p>
        <p>LGA: {{user.lga}}</p>
        <p>Your Email is: {{user.email}}</p>
        <p>Phone Number: {{user.phone}}</p>
        <p>NIN: {{user.nin}}</p>
        <p>BVN: {{user.bvn}}</p>
        <p><a routerLink="/users">Manage Users</a></p>
        
    </div>
</div>